{
    "ShortCode": "{{ShortCode}}",
    "ResponseType": "{{ResponseType}}",
    "ConfirmationURL": "{{ConfirmationURL}}"
    {% if ValidationURL is defined %}
    ,"ValidationURL": "{{ValidationURL}}"
    {% endif %}
}